Repository ZCodeTemplates/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.js": ["prettier --write", "eslint"],
  "*.jsx": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.json": ["prettier --write"],
  "*.css": ["stylelint", "prettier --write"],
  "*.scss": ["stylelint", "prettier --write"],
  "*.less": ["stylelint", "prettier --write"],
  "*.sass": ["stylelint", "prettier --write"]
}

test: stylelint
  src/App.css
  src/App.jsx
Due: prettier --write, eslint, stylelint

feat: stupport importing order of all tyle files
  .prettierrc.cjs
  src/main.jsx
Due: prettier --write, eslint

feat: removed eslint rules
  .eslintrc.cjs
Due: none

feature: created useFetchQueryhook and created api and axiosInstance
  .commitlintrc.json
  .eslintrc.cjs
  .lintstagedrc.json
  package-lock.json
  package.json
  src/App.jsx
  src/App.less
  src/hooks/useFetchQuery.js
  src/index.less
  src/main.jsx
  src/services/api.js
  src/services/axiosInstance.js
Due: prettier --write, eslint, stylelint

feature: created eslint rule for enforcing features/ folder structure and valid imports
  .eslintrc.js
  eslint-rules/index.js
  eslint-rules/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/common/assets/react.svg
  src/common/components/Global.jsx
  src/common/components/Global2.jsx
  src/common/hooks/useFetchQuery.js
  src/common/services/api.js
  src/common/services/axiosInstance.js
  src/features/authentication/components/Signup.jsx
  src/features/authentication/components/Signup2.jsx
  src/features/authentication/index.js
  src/features/authentication/utils/signup.utils.js
  src/features/notifications/components/Notify.jsx
  src/features/notifications/components/Notify2.jsx
  src/features/notifications/index.js
  src/features/notifications/utils/notify.utils.js
  vite.config.js
Due: prettier --write, eslint

fix: fixed the linter rules
  eslint-rules/index.js
  src/common/components/Global2.jsx
  src/common/components/index.js
  src/features/authentication/components/Signup2.jsx
Due: prettier --write, eslint

refactor: refactored the eslint rule
  .eslintrc.js
  .prettierrc.cjs
  eslint-rules/index.js
  eslint-rules/package.json
  eslint-rules/rules/feature-folder-imports.js
  package-lock.json
  package.json
  src/features/authentication/components/Signup2.jsx
Due: prettier --write, eslint

test: tested the eslint rule
  eslint-rules/rules/feature-folder-imports.js
  src/common/components/Global.jsx
Due: prettier --write, eslint

feature: modified the regex to support group names
  .eslintrc.js
  eslint-rules/rules/feature-folder-imports.js
  src/common/components/Global.jsx
  src/common/components/Global2.jsx
  src/features/(auth)/authentication/components/Signup.jsx
  src/features/(auth)/authentication/components/Signup2.jsx
  src/features/(auth)/authentication/index.js
  src/features/(auth)/authentication/utils/signup.utils.js
  src/features/authentication/components/Signup2.jsx
  src/features/notifications/components/Notify.jsx
Due: prettier --write, eslint

feature: added ts
  .eslintrc.js
  eslint-rules/index.js
  eslint-rules/rules/feature-folder-imports.js
  index.html
  package.json
  pnpm-lock.yaml
  reset.d.ts
  src/App.jsx
  src/App.module.less
  src/App.tsx
  src/common/components/Global.jsx
  src/common/components/Global2.jsx
  src/common/components/index.js
  src/common/hooks/useFetchQuery.ts
  src/common/services/api.ts
  src/common/services/axiosInstance.ts
  src/features/(auth)/authentication/components/Signup.jsx
  src/features/(auth)/authentication/components/Signup2.jsx
  src/features/(auth)/authentication/index.js
  src/features/(auth)/authentication/utils/signup.utils.js
  src/features/notifications/components/Notify.jsx
  src/features/notifications/components/Notify2.jsx
  src/features/notifications/index.js
  src/features/notifications/utils/notify.utils.js
  src/index.module.less
  src/main.tsx
  tsconfig.json
  vite.config.js
  vite.config.ts
Due: prettier --write, eslint, stylelint

feature: add useFetchQuery hook
  .eslintrc.js
  declareTypes/global.d.ts
  declareTypes/reset.d.ts
  src/App.tsx
  src/common/hooks/useFetchQuery.ts
  src/common/hooks/useFetchQuery.types.ts
  src/common/services/api.ts
  tsconfig.tsbuildinfo
Due: prettier --write, eslint

refactor: minor
  src/App.tsx
  src/common/hooks/useFetchQuery/useFetchQuery.ts
  src/common/hooks/useFetchQuery/useFetchQuery.types.ts
  tsconfig.tsbuildinfo
Due: prettier --write, eslint

refactor: minor
  .eslintrc.js
  src/App.tsx
  src/common/hooks/useFetchQuery/useFetchQuery.ts
  src/common/hooks/useFetchQuery/useFetchQuery.types.ts
  tsconfig.tsbuildinfo
Due: prettier --write, eslint

feature: added app context
  pnpm-lock.yaml
  src/App.tsx
  src/common/context/AppContext.tsx
  src/common/context/UserContext/UserContext.ts
  src/common/context/context.consts.ts
  src/common/hooks/useAppContext.ts
  src/main.tsx
  tsconfig.tsbuildinfo
Due: prettier --write, eslint

fix: fixed packages dependencies errors
  package-lock.json
  package.json
Due: prettier --write

feature: fixed absolute imports
  .eslintrc.js
  declareTypes/less-modules.d.ts
  package-lock.json
  src/App.module.less
  src/App.tsx
  src/index.module.less
  src/main.tsx
  src/reset.less
  tsconfig.json
  tsconfig.tsbuildinfo
  vite.config.ts
Due: prettier --write, eslint, stylelint
